# Homeserver settings
homeserver:
    # The address that Meowlnir can use to connect to the homeserver.
    address: http://localhost:8008
    # The server name of the homeserver.
    domain: example.com

# Meowlnir server settings
meowlnir:
    # The unique ID for the appservice.
    id: meowlnir
    # Set to generate to generate random tokens.
    as_token: generate
    hs_token: generate

    # The address that the homeserver can use to connect to Meowlnir.
    address: http://localhost:29339
    # The hostname and port where Meowlnir should listen
    hostname: 0.0.0.0
    port: 29339

    # Pickle key used for encrypting encryption keys.
    # If set to generate, a random key will be generated.
    pickle_key: generate
    # Management secret used for the management API. If set to generate, a random secret will be generated.
    # If prefixed with sha256:, the rest of the string will be hex-decoded and used as the hash of the secret.
    management_secret: generate
    # If dry run is set to true, meowlnir won't take any actual actions,
    # but will do everything else as if it was going to take actions.
    dry_run: false

    # Which management room should handle requests to the Matrix report API?
    report_room: '!roomid:example.com'

# Database config for meowlnir itself.
database:
    # The database type. "sqlite3-fk-wal" and "postgres" are supported.
    type: postgres
    # The database URI.
    #   SQLite: A raw file path is supported, but `file:<path>?_txlock=immediate` is recommended.
    #           https://github.com/mattn/go-sqlite3#connection-string
    #   Postgres: Connection string. For example, postgres://user:password@host/database?sslmode=disable
    #             To connect via Unix socket, use something like postgres:///dbname?host=/var/run/postgresql
    uri: postgres://user:password@host/database?sslmode=disable
    # Maximum number of connections. Mostly relevant for Postgres.
    max_open_conns: 20
    max_idle_conns: 2
    # Maximum connection idle time and lifetime before they're closed. Disabled if null.
    # Parsed with https://pkg.go.dev/time#ParseDuration
    max_conn_idle_time: null
    max_conn_lifetime: null

# Database config for accessing the Synapse database.
synapse_db:
    type: postgres
    uri: postgres://user:password@host/synapse?sslmode=disable
    max_open_conns: 2
    max_idle_conns: 1
    max_conn_idle_time: null
    max_conn_lifetime: null

# Logging config. See https://github.com/tulir/zeroconfig for details.
logging:
    min_level: debug
    writers:
    - type: stdout
      format: pretty-colored
    - type: file
      format: json
      filename: ./logs/meowlnir.log
      max_size: 100
      max_backups: 10
      compress: false
